@{
    var flashMessage = TempData["FlashMessage"];
    if (flashMessage != null)
    {
        <div id="respuesta" class="@TempData["FlashMessageType"]">
            @flashMessage
        </div>
    }
}
